DATABASE_URL=postgresql+asyncpg://sicarx:sicarx@localhost:5432/sicarx
X_API_KEY=
SICAR_ADMIN_EMAIL=
SICAR_ADMIN_PASSWORD=
SICAR_TOKEN=
SICAR_PRICE_LIST_ID=
CASH_REGISTER_UUID=
CLIENT_JWT_SECRET=
CLIENT_JWT_EXPIRE_MINUTES=10080
